<? # Информация для контактов ?>

<? if(call_user_func(function(){ ?>
		Хотели бы обсудить?<br />
		Заходите в интернет радио<br />
		<a target="blank" href="http://zello.com/">zello</a> Канал <b>&laquo;биморф&raquo;</b>
		Пример для обучения <a href='https://raw.githubusercontent.com/mpak2/mpak.su/master/modules/null/bmf.php'>скрипт</a>
	<? })): mpre("ОШИБКА отображения формы загрузки данных") ?>
<? elseif(call_user_func(function(){
	if(!array_search("", $_GET)){ //mpre("Нет формы");
	}else{ //mpre("Форма"); ?>
	<? }})): mpre("ОШИБКА отображения формы загрузки данных") ?>
<? else: ?>
<? endif; ?>
